<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator" *ngIf="country">
                    -
                </li>
                <li class="m-nav__item" *ngIf="country">
                    <a [routerLink]="['/countries/view', data.country_id]" class="m-nav__link">
						<span class="m-nav__link-text">
							{{country.name}}
						</span>
                    </a>
                </li>
                <!--<li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#/countries-settings" class="m-nav__link">
						<span class="m-nav__link-text">
							Countries setting
						</span>
                    </a>
                </li>-->
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text" *ngIf="data.id">
							{{data.name}}
						</span>
                        <span class="m-nav__link-text" *ngIf="!data.id">
							 New country setting
						</span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text" *ngIf="data.id">
                        Edit : {{data.name}}
                    </h3>
                    <h3 class="m-portlet__head-text" *ngIf="!data.id">
                        New country setting
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form--state m-form--fit m-form--label-align-right"
              (ngSubmit)="onSubmit(mForm)" #mForm="ngForm"
              id="m_form_2">
            <div class="m-portlet__body">
                <div class="m-form__content">
                    <div class="m-alert m-alert--icon alert alert-warning" *ngIf="mForm.submitted && mForm.invalid"
                         role="alert" id="m_form_2_msg">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div class="m-alert__text">
                            Oh snap! Change a few things up and try submitting again.
                        </div>
                        <div class="m-alert__close">
                            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row"
                     [ngClass]="{'has-danger':mForm.submitted && name1.hasError('required') || (name1.touched && name1.hasError('required'))}">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Name *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <input [(ngModel)]="data.name" type="text" class="form-control m-input" name="name1"
                               placeholder="Enter name" required #name1="ngModel">
                        <div *ngIf="mForm.submitted && name1.hasError('required') || (name1.touched && name1.hasError('required'))"
                             class="form-control-feedback">
                            required.
                        </div>
                    </div>

                </div>

                <div class="form-group m-form__group row"
                     [ngClass]="{'has-danger':mForm.submitted && value1.hasError('required') || (value1.touched && value1.hasError('required'))}">
                    <label class="col-form-label col-lg-3 col-sm-12">
                        Value *
                    </label>
                    <div class="col-lg-4 col-md-9 col-sm-12">
                        <textarea rows="4" [(ngModel)]="data.value" type="text" class="form-control m-input"
                               name="value1"
                               placeholder="Enter value" required #value1="ngModel">
                        </textarea>
                        <div *ngIf="mForm.submitted && value1.hasError('required') || (value1.touched && value1.hasError('required'))"
                             class="form-control-feedback">
                            required.
                        </div>
                    </div>

                </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-9 ml-lg-auto">
                            <button type="submit" class="btn btn-focus m-btn m-btn--custom m-btn--pill">
                                Save
                            </button>
                            <button (click)="location.back()" type="reset" class="btn btn-secondary m-btn m-btn--custom m-btn--pill">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>
