<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                My Profile
            </h3>
        </div>

    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__body">
                    <div class="m-card-profile">
                        <div class="m-card-profile__title m--hide">
                            Your Profile
                        </div>
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                <img src="./assets/app/media/img/users/user4.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="m-card-profile__details">
							<span class="m-card-profile__name">
								{{currentAdminUser.name}}
							</span>

                            <span class="m-card-profile__email">
								{{currentAdminUser.Role.role_name}}
							</span>
                            <a href="" class="m-card-profile__email m-link">
                                {{currentAdminUser.email}}
                            </a>
                        </div>
                        <div class="m-card-profile__details">
							<span class="m-card-profile__email">
								Last Login: {{currentAdminUser.last_login | date}}
							</span>
                        </div>
                    </div>
                    <!--<ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                        <li class="m-nav__separator m-nav__separator--fit"></li>
                        <li class="m-nav__section m--hide">
                            <span class="m-nav__section-text">
                                Section
                            </span>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                <span class="m-nav__link-title">
                                    <span class="m-nav__link-wrap">
                                        <span class="m-nav__link-text">
                                            My Profile
                                        </span>
                                        <span class="m-nav__link-badge">
                                            <span class="m-badge m-badge--success">
                                                2
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-share"></i>
                                <span class="m-nav__link-text">
                                    Activity
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                <span class="m-nav__link-text">
                                    Messages
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-graphic-2"></i>
                                <span class="m-nav__link-text">
                                    Sales
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-time-3"></i>
                                <span class="m-nav__link-text">
                                    Events
                                </span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a routerLink="/header/profile" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                <span class="m-nav__link-text">
                                    Support
                                </span>
                            </a>
                        </li>
                    </ul>-->
                    <div class="m-portlet__body-separator"></div>
                    <!--<div class="m-widget1 m-widget1--paddingless">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Member Profit
                                    </h3>
                                    <span class="m-widget1__desc">
                                        Awerage Weekly Profit
                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        +$17,800
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Orders
                                    </h3>
                                    <span class="m-widget1__desc">
                                        Weekly Customer Orders
                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-danger">
                                        +1,800
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Issue Reports
                                    </h3>
                                    <span class="m-widget1__desc">
                                        System bugs and issues
                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        -27,49%
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                            role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1"
                                   role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    Update Profile
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2"
                                   role="tab">
                                    Change Password
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <form class="m-form m-form--fit m-form--label-align-right" (ngSubmit)="onSubmit()"
                              #mForm="ngForm">
                            <div class="m-portlet__body">
                                <div class="m-form__content">
                                    <div class="m-alert m-alert--icon alert alert-warning"
                                         *ngIf="mForm.submitted && mForm.invalid"
                                         role="alert" id="m_form_2_msg">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            Oh snap! Change a few things up and try submitting again.
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-close="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <h3 class="m-form__section">
                                            Personal Details
                                        </h3>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Name
                                    </label>

                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" name="name"
                                               [(ngModel)]="currentAdminUser.name">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Phone Number
                                    </label>

                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" name="phone_number"
                                               [(ngModel)]="currentAdminUser.phone_number">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                        Company
                                    </label>

                                    <div class="col-7">
                                        <select placeholder="Select company" class="form-control m-input"
                                                [(ngModel)]="currentAdminUser.Company.company_name" name="company"
                                                #company="ngModel" required>
                                            <option *ngFor="let company of companies" [ngValue]="company.id">
                                                {{company.company_name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="lastLogin" class="col-2 col-form-label">
                                        Last Login
                                    </label>

                                    <div class="col-7">
                                        <label class="form-control m-input">
                                            {{currentAdminUser.last_login | date}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="lastLogin" class="col-2 col-form-label">
                                        Number Password Attempt
                                    </label>

                                    <div class="col-7">
                                        <label class="form-control m-input">
                                            {{currentAdminUser.number_password_attempt}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="lastLogin" class="col-2 col-form-label">
                                        Max Session Time
                                    </label>

                                    <div class="col-7">
                                        <label class="form-control m-input">
                                            {{currentAdminUser.max_session_time}}
                                        </label>
                                    </div>
                                </div>
                                <div class="m-form__content">
                                    <div class="m-alert m-alert--icon alert alert-warning" *ngIf="profileFormError"
                                         role="alert" id="profileFormError">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            {{profileFormError}}
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-close="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                Save changes
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="reset"
                                                    class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="m_user_profile_tab_2">
                        <form class="m-form m-form--fit m-form--label-align-right"
                              (ngSubmit)="onChangePassword()" #changePasswordForm="ngForm">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <div class="col-10 ml-auto">
                                        <h3 class="m-form__section">
                                            Change Password
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-form__content">
                                    <div class="m-alert m-alert--icon alert alert-warning"
                                         *ngIf="changePasswordForm.submitted && changePasswordForm.invalid"
                                         role="alert" id="changePasswordFormMsg">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            Oh snap! Change a few things up and try submitting again.
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-close="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row"
                                     [ngClass]="{'has-danger':changePasswordForm.submitted && password.hasError('required') || (password.touched && password.hasError('required'))}">
                                    <label for="old-password" class="col-2 col-form-label">
                                        Old Password
                                    </label>
                                    <div class="col-7">
                                        <input [(ngModel)]="passwordModel.password" type="password" class="form-control m-input" name="password"
                                               placeholder="Enter current password" required #password="ngModel">
                                        <div *ngIf="changePasswordForm.submitted && password.hasError('required') || (password.touched && password.hasError('required'))"
                                             class="form-control-feedback">
                                            required.
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group m-form__group row"
                                     [ngClass]="{'has-danger':changePasswordForm.submitted && newPassword.hasError('required') || (newPassword.touched && newPassword.hasError('required'))}">
                                    <label for="old-password" class="col-2 col-form-label">
                                        New Password
                                    </label>
                                    <div class="col-7">
                                        <input [(ngModel)]="passwordModel.new_password" type="password" class="form-control m-input" name="newPassword"
                                               placeholder="Enter new password" required #newPassword="ngModel">
                                        <div *ngIf="changePasswordForm.submitted && newPassword.hasError('required') || (newPassword.touched && newPassword.hasError('required'))"
                                             class="form-control-feedback">
                                            required.
                                        </div>
                                    </div>

                                </div>

                                <div class="m-form__content">
                                    <div class="m-alert m-alert--icon alert alert-warning"
                                         *ngIf="changePasswordFormError"
                                         role="alert" id="changePasswordFormError">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            {{changePasswordFormError}}
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-close="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-7">
                                                <button type="submit"
                                                        class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                    Change
                                                </button>
                                                &nbsp;&nbsp;
                                                <button type="reset"
                                                        class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
