<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#/issue-collect-money" class="m-nav__link">
						<span class="m-nav__link-text">
							Issue/Collect Money
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Collect Money
						</span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>

<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Collect Money
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        <div class="m-portlet__body" *ngIf="data">
            <div class="m-form__content">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="">
                            <label class="m--font-boldest">
                                User ID:
                            </label>
                            <span class="m--font-normal">{{data.Loan.User.id}}</span>
                        </div>
                        <div class="">
                            <label class="m--font-boldest">
                                Full name:
                            </label>
                            <span class="m--font-normal">{{data.Loan.User.fname}} {{data.Loan.User.mname}} {{data.Loan.User.lname}}</span>
                        </div>
                        <div class="">
                            <label class="m--font-boldest">
                                Phone:
                            </label>
                            <span class="m--font-normal">{{data.Loan.User.phone_number}}</span>

                        </div>
                        <div class="">
                            <label class="m--font-boldest">
                                Email:
                            </label>
                            <span class="m--font-normal">{{data.Loan.User.email}}</span>

                        </div>
                        <div class="">
                            <label class="m--font-boldest">
                                Date of Birth:
                            </label>

                            <span class="m--font-normal">{{data.Loan.User.dob| date:'mediumDate'}}</span>

                        </div>
                        <div class="">
                            <label class="m--font-boldest">
                                Country:
                            </label>
                            <span class="m--font-normal">{{data.Loan.User.Country.name}}</span>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <img style="border: 1px solid #575962;margin: 5px;" src="{{data.Loan.User.profilepic}}"
                             onerror="this.src='assets/app/media/img/bg/default_person.png'"
                             height="250" width="250"/>
                        <img style="border: 1px solid #575962;margin: 5px;" src="{{data.Loan.User.selfie_proof_file}}"
                             onerror="this.src='assets/app/media/img/bg/default_person.png'"
                             height="250" width="250"/>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 col-sm-12 m--font-boldest">
                    Amount to be collected :
                </label>
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <div class="col-form-label m--font-normal">{{data.amount}} {{data.currency}}</div>
                </div>

            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-4 col-sm-12 m--font-boldest">
                    Confirm amount collected :
                </label>
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <div class="col-form-label m--font-normal">{{data.amount}} {{data.currency}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 ml-lg-auto">
                </div>
                <div class="col-lg-3 ml-lg-auto">
                    <button type="button" (click)="onSubmit(content)"
                            class="btn btn-focus m-btn m-btn--custom m-btn--pill">
                        Collect Cash
                    </button>
                    <button (click)="goBack()" class="btn btn-secondary m-btn m-btn--custom m-btn--pill">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Collected Money</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Please collect {{ data.amount}} from the customer</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>
</div>
