<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
         data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <li *ngIf="adminUsersService.checkModuleRight('dashboard')" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/index" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-text">
                            Dashboard
                        </span>
                </a>
            </li>
            <li *ngIf="adminUsersService.checkModuleRight('users')" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/users" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
                            Users
                        </span>
                </a>
            </li>
            <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/loans" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-attachment"></i>
                    <span class="m-menu__link-text">
                            Loans
                        </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/collections" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-coins"></i>
                    <span class="m-menu__link-text">
                            Collections
                        </span>
                </a>
            </li>-->
           <!-- <li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/collection-history" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-interface-2"></i>
                    <span class="m-menu__link-text">
                            Collections History
                        </span>
                </a>
            </li>-->
            <li  *ngIf="adminUsersService.checkModuleRight('countries')" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/countries" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-map-location"></i>
                    <span class="m-menu__link-text">
                            Countries
                        </span>
                </a>
            </li>
           <!-- <li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/countries-settings" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-settings"></i>
                    <span class="m-menu__link-text">
                            Countries Settings
                        </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/countries-investments" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-cart"></i>
                    <span class="m-menu__link-text">
                            Countries Investments
                        </span>
                </a>
            </li>-->
            <li *ngIf="adminUsersService.checkModuleRight('non-supported-country-leads')" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/non-supported-country-leads" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-exclamation-square"></i>
                    <span class="m-menu__link-text">
                            Non Support Leads
                        </span>
                </a>
            </li>
            <li *ngIf="adminUsersService.checkModuleRight('companies')" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/companies" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-suitcase"></i>
                    <span class="m-menu__link-text">
                            Companies
                        </span>
                </a>
            </li>
            <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/distribution-centers" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-grid-menu-v2"></i>
                    <span class="m-menu__link-text">
                            Distributions
                        </span>
                </a>
            </li>-->
            <li *ngIf="adminUsersService.checkModuleRight('roles')"  class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/roles" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-list-2"></i>
                    <span class="m-menu__link-text">
                            Roles
                        </span>
                </a>
            </li>
            <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/feature-acls" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-light"></i>
                    <span class="m-menu__link-text">
                            Feature ACLs
                        </span>
                </a>
            </li>-->
            <li  *ngIf="adminUsersService.checkModuleRight('admin-users')"  class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/admin-users" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-user-settings"></i>
                    <span class="m-menu__link-text">
                            Admin Users
                        </span>
                </a>
            </li>
           <!-- <li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/admin-users-countries" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-folder-2"></i>
                    <span class="m-menu__link-text">
                            Admin Users Countries
                        </span>
                </a>
            </li>-->
            <li  *ngIf="adminUsersService.checkModuleRight('issue-collect-money')"  class="m-menu__item  m-menu__item submenu" routerLinkActive="m-menu__item active"
                routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                <a routerLink="/issue-collect-money" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-folder-2"></i>
                    <span class="m-menu__link-text">
                            Issue/Collect money
                        </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
