<!-- begin::Page loader -->
<div class="m-page-loader m-page-loader--non-block">
    <!--<div class="m-blockui">
        <span>
            Please wait...
        </span>
        <span>
            <div class="m-loader m-loader&#45;&#45;brand"></div>
        </span>
    </div>-->
    <div class="m-grid" style="margin-top: 20%">
        <div class="m-grid__item m-grid__item--middle">
            <lottie-animation-view [options]="lottieConfig" [width]="400"
                                   [height]="200"
                                   (animCreated)="handleAnimation($event)"></lottie-animation-view>
        </div>
    </div>
</div>
<!-- end::Page loader -->                        <!-- begin:: Page -->
<router-outlet></router-outlet>
<!-- end:: Page -->
<app-quick-sidebar></app-quick-sidebar>
<app-scroll-top></app-scroll-top>
<!--<app-tooltips></app-tooltips>-->
<!--begin::Base Scripts -->                                                        <!--end::Base Scripts -->                       <!--begin::Page Vendors -->                                   <!--end::Page Vendors -->                                                              <!--begin::Page Snippets -->                                   <!--end::Page Snippets -->
