<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#/users" class="m-nav__link">
						<span class="m-nav__link-text">
							Users
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Test
						</span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Test
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form state m-form fit m-form label-align-right"
              (ngSubmit)="onSubmit(mForm)" #mForm="ngForm"
              id="m_form_2">
            <div class="m-portlet__body">
                <div class="m-form__content">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-12">
                            <div class="">
                                <label class="m--font-boldest">
                                    User ID :
                                </label>
                                <span class="m--font-normal">Test</span>
                            </div>
                            <div class="">
                                <label class="m--font-boldest">
                                    Full name:
                                </label>
                                <span class="m--font-normal">Test</span>
                            </div>
                            <div class="">
                                <label class="m--font-boldest">
                                    Phone:
                                </label>
                                <span class="m--font-normal">1111111111</span>

                            </div>
                            <div class="">
                                <label class="m--font-boldest">
                                    Email:
                                </label>
                                <span class="m--font-normal">Test@test.com</span>

                            </div>
                            <div class="">
                                <label class="m--font-boldest">
                                    Date of Birth:
                                </label>
                                <span class="m--font-normal">5th Jan 2000</span>

                            </div>
                            <div class="">
                                <label class="m--font-boldest">
                                    Country:
                                </label>
                                <span class="m--font-normal">Test</span>

                            </div>
                            <div class="">
                                <label class="m--font-boldest">
                                    Sex:
                                </label>
                                <span class="m--font-normal">Male</span>

                            </div>
                            <div class="">
                                <label class="m--font-boldest">
                                    Relation Status:
                                </label>
                                <span class="m--font-normal">Married</span>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-12">
                            <div class="">
                                <img style="border: 1px solid #575962;margin: 5px;"
                                     src="../../../../../../assets/app/media/img/users/300_3.jpg" height="200"
                                     width="200"/>
                                <img style="border: 1px solid #575962;margin: 5px;"
                                     src="../../../../../../assets/app/media/img/users/300_3.jpg" height="200"
                                     width="200"/>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="">
                                        <label class="m--font-boldest">
                                            U Score:
                                        </label>
                                        <span class="m--font-normal">Test</span>

                                    </div>
                                    <div class="">
                                        <label class="m--font-boldest">
                                            No Of Active Loans:
                                        </label>
                                        <span class="m--font-normal">5</span>
                                    </div>
                                    <div class="">
                                        <label class="m--font-boldest">
                                            Total Number Of Loans:
                                        </label>
                                        <span class="m--font-normal">20</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group row">
                                <label class="col-5 col-form-label m--font-boldest">
                                    Phone Status
                                </label>
                                <div class="col-3">
												<span class="m-switch m-switch--lg">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
                                </div>
                            </div>
                            <div class=" form-group row">
                                <label class="col-5 col-form-label m--font-boldest">
                                    Facebook Account
                                </label>
                                <div class="col-3">
												<span class="m-switch m-switch--lg">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
                                </div>
                            </div>
                            <div class=" form-group row">
                                <label class="col-5 col-form-label m--font-boldest">
                                    ID Status
                                </label>
                                <div class="col-3">
												<span class="m-switch m-switch--lg">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
                                </div>
                            </div>
                            <div class=" form-group row">
                                <label class="col-5 col-form-label m--font-boldest">
                                    Address Status
                                </label>
                                <div class="col-3">
												<span class="m-switch m-switch--lg">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!--<div class="m-form__group form-group row">
                                <label class="col-3 col-form-label">
                                    Update Status
                                </label>
                                <div class="col-3">
												<span class="m-switch m-switch&#45;&#45;lg">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
                                </div>
                            </div>-->
                            <br>
                            <div class=" form-group row">
                                <label class="col-5 col-form-label m--font-boldest">
                                    View Documents
                                </label>
                                <div class="col-6">
                                    <div class="row">
                                        <div style="text-decoration: underline" class="m--font-normal">document 1</div>
                                    </div>
                                    <div class="row">
                                        <div style="text-decoration: underline" class="m--font-normal">document 2</div>
                                    </div>
                                </div>
                            </div>
                            <div class=" form-group row">
                                <label class="col-5 col-form-label m--font-boldest">
                                    Block Account
                                </label>
                                <div class="col-3">
												<span class="m-switch m-switch--lg">
													<label>
														<input type="checkbox" checked="checked" name="">
														<span></span>
													</label>
												</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4><i class="m-menu__link-icon flaticon-attachment"></i> Loans</h4>
                    </div>
                    <div class="row">
                        <!--end: Search Form -->        <!--begin: Datatable -->
                        <div class="m_datatable_loans" id="json_data_loans"></div>
                        <!--end: Datatable -->
                    </div>
                    <!--<div class="row">
                        <h4><i class="m-menu__link-icon flaticon-coins"></i> Collection</h4>
                    </div>
                    <div class="row">
                        &lt;!&ndash;end: Search Form &ndash;&gt;        &lt;!&ndash;begin: Datatable &ndash;&gt;
                        <div class="m_datatable_collections" id="json_data_collection"></div>
                        &lt;!&ndash;end: Datatable &ndash;&gt;
                    </div>-->
                </div>
                <div class="m-portlet__foot m-portlet__foot fit">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-11 ml-lg-auto">
                            </div>
                            <div class="col-lg-1 ml-lg-auto">
                                <button href="#/users" class="btn btn-secondary m-btn m-btn--custom m-btn--pill">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

